
<!-- The following is example HTML that can be used on your form -->

<p>
	<img id="siimage" style="border: 1px solid #000; margin-right: 15px"
		src="./securimage_show.php?sid=<?php echo md5(uniqid()) ?>"
		alt="CAPTCHA Image" align="left">
	<object type="application/x-shockwave-flash"
		data="./securimage_play.swf?audio_file=./securimage_play.php&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000"
		height="32" width="32">
		<param name="movie"
			value="./securimage_play.swf?audio_file=./securimage_play.php&amp;bgColor1=#fff&amp;bgColor2=#fff&amp;iconColor=#777&amp;borderWidth=1&amp;borderColor=#000">
	</object>
	&nbsp; <a tabindex="-1" style="border-style: none;" href="#"
		title="Refresh Image"
		onclick="document.getElementById('siimage').src = './securimage_show.php?sid=' + Math.random(); this.blur(); return false"><img
		src="./images/refresh.png" alt="Reload Image" onclick="this.blur()"
		align="bottom" border="0"></a><br /> <strong>Enter Code*:</strong><br />
	<input type="text" name="ct_captcha" size="12" maxlength="8" />
</p>
