#player, #player a {
	color: #fff;
}

#player {
	background: url(sizerAndVol.png);
	background-position: bottom;
}

#player .mainImage {
	background: url(main.png);
}

#player #baseLeft {
	width: 93px;
}

#player #baseRight {
	width: 145px;
}

#player .button {
	width: 26px;
}

#player #play {
	background: url(playBtn.png);
}

#player #play, #player #pause {
	left: 26px;
}

#player #previous {
	left: 0px;
}

#player #next {
	left: 52px;
}

#player #title {
	left: 90px;
}

#player #tooltip {
	right: 196px;
}

#player #timer {
	right: 120px;
}

#player #list {
	right: 0px;
}

#player #seeker {
	right: 320px;
}

#player #seekerBase {
	border-color: #ccc;
}

#player #seekerBuffered {
	background-color: #4b575d;
}

#player #seekerSliderBase {
	background-color: #ccc;
}

#player #volume {
	width: 85px;
	right: 25px;
}

#player #volumeSlider {
	width: 21px;
	background: url(sizerAndVol.png);
}

#playlist, #playlist .module, #playlist h3 {
	border-color: #333;
}

#playlist .module {
	color: #333;
	background-color: #eee;
}

#playlist h3 {
	background: url(bar.jpg);
	color: #FFF;
	background-color: #333;
}

#playlist .even {
	background-color: #eee;
}

#playlist .odd {
	background-color: #ddd;
}

#playlist .focus {
	background-color: #666;
	color: #FFF;
}