/*************/
/** General **/

.centerarea {
    overflow: hidden;
}

#scrollable_content {
    color : #d1dadd;
    border-top: 3px ridge #3f3730;
}
#scrollable_content h1 {
    margin: 5px;
    margin-bottom: 3px;
}

#irc_explained {
    margin: 2px;
    margin-bottom: 4px;
    font-size: 11px;
    font-style: italic;
}

#scrollable_content .centerareawidth {
    width: 100%;
}

#scrollable_content {
    max-height: 342px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 4px;
}

.important {
    font-weight: bold;
}

.hidden {
    display: none;
}

/************/
/** Inputs **/

.inputs {
    padding: 0;
    height: 46px;
    background-color: #d1dadd;
    border-radius: 2px;
    display: inline-block;
}

#Send, #Body {
    float: left;
    height: 46px;
    margin: 0px;
    border: none;
    padding: 0;
    background-color: transparent;
}

#Body {
    width: 705px;
    padding-left: 4px;
    border-right: 1px solid grey;
    line-height: 16px;
    resize: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#Body:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

#Send {
    width: 90px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#Send:hover, #Send:focus, #Send:active {
    background-color: #bfc8cb;
}

#Send:hover:focus, #Send:focus:active, #Send:active:hover {
    background-color: #a3acaf;
}

#Send .shortcut {
    font-size: 10px;
    color: grey;
    font-style: italic;
}


/**************/
/** Messages **/

table.maintable {
    border: none;
    border-collapse: collapse;
}

table.maintable tr:first-of-type {
    font-variant: small-caps;
    font-size: 14px;
}

table.maintable td.mainbglabel {
    width: 140px;
    border-right: 1px solid black;
}
table.maintable td.maintable, #messageLabel {
    max-width: 530px;
    padding-left: 4px;
    padding-right: 4px;
    border-top: none;
    width: auto;
}


table.maintable td {
    border-bottom: 1px solid grey;
    word-wrap: break-word;
    color: #c1cacd;
}

table.maintable .date {
    font-size: 11px;
}

table.maintable .name {
    color: lightgrey;
}
table.maintable .name:hover {
    color: white;
}

/*******************/
/** Author change **/

.changePersForm {
    margin-bottom: -16px;
}

.changePersForm select{
    width: 100%;
}

.changePers:hover {
    opacity: 1;
}

.changePers{
    opacity: 0.6;
    padding: 5px;
}

.changePers img {
    width: 12px;
    height: 12px;
    vertical-align: top;
}

.cancel img {
    padding: 4px;
    vertical-align: middle;
}

/*********************/
/** Unread messages **/

table.maintable td.messageUnread:first-of-type {
    border-left: 5px solid orange;
}

table.maintable td.messageUnread {
    color: white;
}

#newMessages {
    position: absolute;
    background-color: orange;
    color: lightgrey;
    bottom: 55px;
    right: 15px;
    opacity: 0.9;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 10px;
}

#newMessages a {
    color: #333;
}
#newMessages a:hover {
    color: #000;
}

#countMessages {
    font-weight: bold;
}