/* --------------------------------- */
/* ***********  MAIN *************** */
/* --------------------------------- */
.index_title {
	width: 90%;
	margin: 0 auto 0 auto;
}

.homepage-header {
	/* content:url("http://www.nacridan.com/test/nacridan2/pics/new-homepage/main-banner-test.png"); */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mainarea {
	position: absolute;
	top: 5px;
	width: 1276px;
	height: 670px;
	background: url(../pics/conquest/maquette-aino-wallen1.png) no-repeat;
}

/* ***********  INDEX MENU TOP *********** */
.index_menu_top a:hover {
	background: transparent url(../pics/register/index_menu_on.jpg) top left
		no-repeat;
}

/* ***********  MAIN MENU *********** */
.mmenu {
	background: url(../pics/conquest/mmenucqfr.gif) top left no-repeat;
}

.mmenu a:hover {
	background: transparent url(../pics/conquest/mmenucqfr.gif) top left
		no-repeat;
}

body {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	background-color: #000000;
}

html>body {
	font-size: 12px;
}

table {
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px; //
	font-size: 10px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.cqpub {
	position: absolute;
	z-index: 100;
	left: 190px;
}

.centerareaview {
	position: absolute;
	overflow: auto;
	width: 870px;
	height: 680px;
	top: 30px;
	left: 195px;
}

.centerarea {
	position: absolute;
	overflow: auto;
	width: 800px;
	height: 400px;
	top: 67px;
	left: 255px;
	background-color: #000000;
}

.bottomarea {
	position: absolute;
	height: 400px;
	width: 660px;
	top: 560px;
	left: 320px;
}

.centerareawidth {
	width: 780px;
}

.bottomleftareawidth {
	width: 320px;
}

.bottomareawidth {
	width: 640px;
}

.halfcenterareawidth {
	width: 390px;
}

.centerareaheight {
	height: 380px;
}

.centerareawidthmsg {
	width: 780px;
}

.mainmsg {
	margin-left: 0px;
	padding-top: 10px;
	color: #D1DADD;
	border-width: 3px;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #202020;
	border-bottom-style: double;
	border-top-style: ridge;
	border-color: #3f3730;
}

.ig-announcement {
	position: absolute;
	top: 130px;
	left: 100px;
	width: 600px;
	height: 30px;
	color: #000000;
	background-color: #CBBFB1;
	z-index: 20; 
}


/* ------------------------------------- */
/* ***********  INDEX PAGE ************* */
/* ------------------------------------- */

/*  background : url(../pics/register/index_bg.jpg) repeat-y #000000; 
background: url(../pics/new-homepage/Terraform-green.jpg) no-repeat
		center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/
.index_bg {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #000000;
}

.index_content {
	margin: 0 auto 0 auto;
}

.index_bg {
	padding: 0;
	margin: 0;
}

.beastsample {
	font-size: 1.5em;
}

.screenshots {
	font-size: 1.5em;
	width: 100%;
}

.screenshots-first-label {
	margin-top: -100px;
	margin-bottom: 10px;
	font-size: 1.5em;
}

.screenshots img {
	height: auto;
	max-width: 100%;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.rule_content {
	position: relative;
	width: 900px;
	height: 100px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	background: url(../pics/rules/Rules_TopBanner.jpg) no-repeat #000000;
}

.rule_list_item {
	margin: 0;
	padding: 0;
}

.rule_pg {
	padding-left: 20px;
}

.rule_item {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.rule_center {
	width: 900px;
	background: url(../pics/rules/GdeToile_Texture.jpg) repeat-y;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.rule_center_content {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.rule_center table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
}

.rule_big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.index_center {
	position: relative;
	width: 90%;
	color: #FFFFFF;
	margin: 0 auto 0 auto;
	margin-top: -20px;
}

.index_bottom {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: -50px;
	color: #CCCCCC;
	font-size: 2em;
}

.index-bottom-table {
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

.index-bottom-table p {
	font-size: 1.5em;
}

.index-bottom-panels {
	padding-top: 20px;
	padding-bottom: 20px;
}

.index-bottom-panels-news {
	padding-top: 0px;
	padding-bottom: 10px;
}

.horizontal-fancy-line {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

.horizontal-fancy-line img {
	width: 100%;
}

.bottom-title {
	font-size: 2em;
	margin-bottom: 50px;
}

.index-bottom-border-left-top-corner {
	border: 0;
	padding: 0;
	width: 264px;
	height: 203px;
	background: url(../pics/new-homepage/border-top-right.png) no-repeat
		scroll 25px -20px;
}

.index-bottom-border-right-top-corner {
	border: 0;
	padding: 0;
	width: 264px;
	height: 203px;
	background: url(../pics/new-homepage/border-top-right.png) no-repeat
		scroll 0px -20px;
}

.index-bottom-border-left-middle {
	border: 0;
	padding: 0;
	background: url(../pics/new-homepage/border-left-middle.png) repeat-y;
}

.index-bottom-border-right-middle {
	border: 0;
	padding: 0;
	background: url(../pics/new-homepage/border-right-middle.png) repeat-y;
}

.index-bottom-border-left-bottom-corner {
	border: 0;
	padding: 0;
	width: 264px;
	height: 259px;
}

.index-bottom-border-right-bottom-corner {
	border: 0;
	padding: 0;
	width: 264px;
	height: 259px;
}

.index-bottom-border-top {
	background: url(../pics/new-homepage/faded-single-border-top.png)
		repeat-x;
	height: 155px;
	border: 0;
	margin: 0;
	padding: 0;
}
/* empty-cells: show;*/
.index-bottom-border-left img {
	margin-right: -1px;
}

.index-bottom-border-left {
	border: 0;
	padding: 0;
	width: 264px;
}

.index-bottom-border-right img {
	margin-left: -1px;
}

.index-bottom-border-right {
	border: 0;
	padding: 0;
	width: 264px;
}

.index-bottom-mainarea {
	background-color: #000000;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: top;
}

.about {
	text-align: left;
	font-size: 1.5em;
}

.about-title {
	color: #E08C1D;
	font-weight: bold;
}

.about-main {
	color: #F8EAD7;
}

.rule_home {
	position: absolute;
	z-index: 50;
	left: 20px;
	top: 20px;
	width: 240px;
	height: 70px;
	background: transparent;
}

.index_menu_top {
	display: inline-block;
	margin-top: -20px;
}

.index_menu_top1, .index_menu_top2, .index_menu_top3 {
	display: inline-block;
	background: url("../pics/new-homepage/button-empty-frame.png");
	width: 338px;
	height: 155px;
}

.index_menu_top1 a {
	display: block;
	width: 338px;
	height: 175px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../pics/new-homepage/button-register.png");
}

.index_menu_top1 a:hover {
	width: 338px;
	height: 175px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../pics/new-homepage/button-register-light.png");
}

.index_menu_top2 a {
	display: block;
	width: 338px;
	height: 175px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../pics/new-homepage/forum-button.png");
}

.index_menu_top2 a:hover {
	width: 338px;
	height: 175px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../pics/new-homepage/forum-button-light.png");
}

.index_menu_top3 a {
	display: block;
	width: 338px;
	height: 175px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../pics/new-homepage/button-rules.png");
}

.index_menu_top3 a:hover {
	width: 338px;
	height: 175px;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../pics/new-homepage/button-rules-light.png");
}

/* ------------------------------------- */
/* ***********  CREDITS PAGE *********** */
/* ------------------------------------- */
.creditswidth {
	width: 550px;
}

/* ------------------------------------- */
/* ***********  STATS PAGE ************* */
/* ------------------------------------- */
.stats_div_title {
	font-size: 1.5em;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.stats_div_conteneur {
	display: table;
	margin: 0px auto;
}

.stat_floating_div {
	float: left;
}

.stats_table {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.stats_title {
	font-weight: bold;
	color: #cccccc;
	background-color: #663333;
}

.stats_label1 {
	font-weight: bold;
	color: #cccccc;
	background-color: #330000;
}

.stats_label {
	font-weight: bold;
	color: #cccccc;
	background-color: #663333;
}

.stats_body1 {color ='#cccccc';
	padding: 0;
	margin: 0;
	background-color: #333333;
}

.stats_body_id {
	color: #111111;
}

.stats_body {
	color: #ffffff;
	background-color: #666666;
}

.statsevent {
	color: #DDDDDD;
}

.attackevent:hover {
	
}
/* -------------------------------- */
/* ***********  LOGIN ************* */
/* -------------------------------- */
.loginfield {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 0;
	width: 300px;
}

.login-left {
	display: inline-block;
	width: 150px;
	margin-top: 30px;
	margin-bottom: 0;
}

.login-right {
	display: inline-block;
	width: 150px;
	margin-top: 30px;
	margin-bottom: 0;
}

.login-right a {
	color: #FFFFFF;
}

.login-links {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1em;
}

.login-one-link {
	padding-right: 5px;
	padding-left: 10px;
	font-size: 1em;
}

.loginfield table {
	text-align: left;
	border-spacing: 10px;
}

.login-button {
	padding-top: 20px;
	width: 100px;
	height: 100px;
	background-image: url(../pics/new-homepage/login-button.png);
	background-size: cover;
	border: 0;
}

.login-button-container {
	text-align: center;
	padding-top: 10px;
}

.login-button:hover {
	/*background-image:  url(../pics/new-homepage/login-button_l.png) ;*/
	cursor: pointer;
}

.login-form-div {
	float: left;
	padding-bottom: 20px;
}

.partner-area {
	padding-top: 20px;
}

.partner-area img {
	height: auto;
	width: auto;
	max-width: 10%;
}

.registerlink {
	position: absolute;
	font-weight: bold;
	left: 210px;
	top: 75px;
	color: #FFFFFF;
}

.last-registered-container {
	align: center;
}

/* ***********  RIGHT  *********** */
.level {
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
}

.cqright {
	position: absolute;
	width: 165px;
	height: 400px;
	top: 60px;
	right: 0px;
}

.cqrighttop {
	height: 200px;
	margin-bottom: 10px;
	overflow: hidden;
}

.bonus, .malus {
	font-size: 10px;
	font-weight: bold;
}

.bonus {
	color: #DD2244;
}

.malus {
	color: #4433BB;
}

/* ***********  PROFIL  *********** */
.infos {
	margin-left: 10px;
	border-collapse: collapse;
}

.nextatb {
	position: absolute;
	width: 140px;
	left: 5px;
	align: center;
	bottom: 40px;
}

.infozone {
	/*
        margin-left: 5px;
        margin-bottom: 5px;
        */
	
}

.charac1 {
	float: left;
	width: 230px;
	padding-left: 0px;
	margin-bottom: 10px;
}

.charac1 table {
	border: 0;
	border-spacing: 0;
}

.charac1 td {
	padding: 0;
}

.hp {
	width: 120px;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	background: #000000;
	border-width: 2px;
	border-style: outset;
}

.hpcell {border 0;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	background: #FFFFFF;
	width: 100%;
}

.hpimg {
	padding: 0;
	margin: 0;
	height: 8px;
	border: 0;
}

.logout {
	color: #2200CC;
	position: absolute;
	width: 105px;
	left: 5px;
	align: center;
	font-weight: bold;
	bottom: 20px;
}

.logout:hover {
	color: #FF0000;
}

/* ---------------------------------- */
/* ***********  MAIN MENU *********** */
/* ---------------------------------- */
.mmenu a {
	position: absolute;
	top: 40px;
	width: 153px;
	height: 29px;
}

.mmenu a.cq {
	top: 10px;
	left: 235px;
	width: 153px;
	height: 29px;
}

.mmenu a.ec {
	top: 10px;
	left: 408px; 153 px;
	height: 29px;
}

.mmenu a.di {
	top: 9px;
	left: 583px; 153 px;
	height: 29px;
}

.mmenu a.ki {
	top: 10px;
	left: 752px; 153 px;
	height: 29px;
}

.mmenu a.ma {
	top: 10px;
	left: 920px; 153 px;
	height: 29px;
}

.mmenu a.vi {
	top: 496px;
	left: 294px;
	width: 50px;
	height: 37px;
}

.mmenu a.vi1d {
	top: 496px;
	left: 235px;
	width: 59px;
	height: 37px;
}

.mmenu a.vi2d {
	top: 496px;
	left: 344px;
	width: 64px;
	height: 37px;
}

.mmenu a.eq {
	top: 496px;
	left: 416px;
	width: 154px;
	height: 37px;
}

.mmenu a.pr {
	top: 496px;
	left: 589px;
	width: 130px;
	height: 37px;
}

.mmenu a.ev {
	top: 496px;
	left: 736px;
	width: 168px;
	height: 37px;
}

.mmenu a.op {
	top: 496px;
	left: 921px;
	width: 130px;
	height: 37px;
}

.mmenu a.mg {
	top: 552px;
	left: 1072px;
	width: 152px;
	height: 26px;
}

.mmenu a.ac {
	top: 591px;
	left: 1072px;
	width: 152px;
	height: 26px;
}

.mmenu a.ru {
	top: 634px;
	left: 1072px;
	width: 152px;
	height: 26px;
}

.mmenu a.fo {
	top: 563px;
	left: 53px;
	width: 160px;
	height: 90px;
}

.mmenu a.tr {
	top: 593px;
	left: 216px;
	width: 83px;
	height: 39px;
	background: url(../pics/conquest/main_menu/tribune3.png);
}

.mmenu a.trnewmsg {
	top: 593px;
	left: 216px;
	width: 83px;
	height: 39px;
	background: url(../pics/conquest/main_menu/tribune_newmessage_vol.png);
}

.mmenu a.irc {
	top: 553px;
	left: 216px;
	width: 83px;
	height: 39px;
	background: url(../pics/conquest/main_menu/chat_irc_1.png);
}

.mmenu a.faq {
	top: 633px;
	left: 216px;
	width: 83px;
	height: 39px;
	background: url(../pics/conquest/main_menu/faq.png);
}

.mmenu a.mgnnlu {
	top: 552px;
	left: 1072px;
	width: 152px;
	height: 26px;
	background: url(../pics/conquest/main_menu/New_message2.png);
}

.mmenu a.mgnnlu:hover {
	background: url(../pics/conquest/main_menu/New_message_vol2.png)
}

.mmenu a.cq:hover {
	background: url(../pics/conquest/main_menu/Conquete_vol.png)
}

.mmenu a.ec:hover {
	background: url(../pics/conquest/main_menu/Economie_vol.png)
}

.mmenu a.di:hover {
	background: url(../pics/conquest/main_menu/Diplomatie_vol.png)
}

.mmenu a.ki:hover {
	background: url(../pics/conquest/main_menu/Royaume_vol.png)
}

.mmenu a.ma:hover {
	background: url(../pics/conquest/main_menu/Carte_vol.png)
}

.mmenu a.vi:hover {
	background: url(../pics/conquest/main_menu/vue_vol.png)
}

.mmenu a.vi1d:hover {
	background: url(../pics/conquest/main_menu/1D_vol.png)
}

.mmenu a.vi2d:hover {
	background: url(../pics/conquest/main_menu/2D_vol.png)
}

.mmenu a.eq:hover {
	background: url(../pics/conquest/main_menu/equip_vol.png)
}

.mmenu a.pr:hover {
	background: url(../pics/conquest/main_menu/Profil_vol.png)
}

.mmenu a.ev:hover {
	background: url(../pics/conquest/main_menu/event_vol.png)
}

.mmenu a.op:hover {
	background: url(../pics/conquest/main_menu/option_vol.png)
}

.mmenu a.mg:hover {
	background: url(../pics/conquest/main_menu/Message_vol.png)
}

.mmenu a.ac:hover {
	background: url(../pics/conquest/main_menu/Compte_vol.png)
}

.mmenu a.ru:hover {
	background: url(../pics/conquest/main_menu/Regle_vol.png)
}

.mmenu a.fo:hover {
	background: url(../pics/conquest/main_menu/Forum_vol.png)
}

.mmenu a.tr:hover {
	background: url(../pics/conquest/main_menu/tribune3_vol.png)
}

.mmenu a.trnewmsg:hover {
	background: url(../pics/conquest/main_menu/tribune_newmessage_vol.png)
}

.mmenu a.irc:hover {
	background: url(../pics/conquest/main_menu/chat_irc_1_vol.png)
}

.mmenu a.faq:hover {
	background: url(../pics/conquest/main_menu/faq_vol.png)
}
/*
.mmenu a {
	position: absolute;
	top: 38px;
	left: 300px;
	width: 128px;
	height: 20px;
}

.mmenu a.cq {left: 245px;}
.mmenu a.di {left: 373px;}
.mmenu a.ec {left: 495px;}
.mmenu a.mg {left: 625px;}
.mmenu a.ru {left: 750px;}
.mmenu a.op {left: 880px;}

.mmenu a.cq:hover {}
.mmenu a.di:hover {background-position: -128px 0%;}
.mmenu a.ec:hover {background-position: -256px 0%;}
.mmenu a.mg:hover {background-position: -384px 0%;}
.mmenu a.ru:hover {background-position: -512px 0%;}
.mmenu a.op:hover {background-position: -640px 0%;}
*/
/* --------------------------------------------- */
/* ***********  CONQUEST MENU BOTTOM *********** */
/* --------------------------------------------- */

/*
.menubt a {
	position: absolute;
	top: 502px;
	width: 120px;
	height: 20px;
}


.ca {left: 315px;}
#vu { width: 56px; left: 468px;}
#vu1d {top: 502px; width: 34px; left: 438px;}
#vu2d {top: 502px; width: 34px; left: 520px;}

.pr {left: 555px;}
.eq {left: 675px;}
.ev {left: 795px;}


.menubt .ca:hover {}
.menubt #vu:hover {background-position: -150px 0%;}


.menubt .pr:hover {background-position: -240px 0%;}
.menubt .eq:hover {background-position: -360px 0%;}
.menubt .ev:hover {background-position: -480px 0%;}
*/

/* ---------------------------------------- */
/* ***********  CONQUEST MENU ***********   */
/* ---------------------------------------- */
.menu {
	position: absolute;
	top: 80px;
	left: 15px;
	z-index: 10;
}

.menu dl {
	float: left;
	width: 110px;
	position: relative;
	margin: 0px 0px;
}

.menu dt:hover {
	background: #F5EFE1;
}

.menu dt {
	margin: 4px;
	padding: 1px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background: #CBBFB1;
	border: 3px ridge #CBBFB1;
	color: #000000;
}

.menu dd, .menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu dd {
	position: relative;
	background: #CBBFB1;
	left: 10px;
	width: 100%;
}

.menu li {
	text-align: center;
}

.menu li a, .menu dt a {
	text-decoration: none;
	color: #000;
	display: block;
	height: 100%;
	border: 1px solid gray;
}

.menu li a:hover, .menu dt a:hover {
	background: #F5EFE1;
}

/* ---------------------------------------- */
/* ***********  CONQUEST MENU ***********   */
/* ---------------------------------------- */
.maintable {
	color: #D1DADD;
	border-top-style: ridge;
	border-bottom-style: double;
	border-color: #3f3730;
	border-width: 3px;
	background-color: #000000;
}

.inputMenu3 {
	background: url(../pics/conquest/menuF.jpg);
	height: 22px;
	background-repeat: repeat-x;
	text-decoration: none;
	border: none;
	margin-left: 0px;
}

.inputMenu {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #000000;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 14px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	box-shadow: 0 0 8px #000000;
}

.inputMenu:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed');
	background-color: #dfdfdf;
}

.inputMenu:active {
	position: relative;
	top: 1px;
}

.maintable2 form {
	margin-bottom: -3px;
	margin-left: 20px;
}

.btnLeft {
	background-image: url(../pics/conquest/btn_left.png);
}

.btnMid {
	background-image: url(../pics/conquest/btn_mid.png);
	background-repeat: repeat-x;
}

.btnRight {
	background-image: url(../pics/conquest/btn_right.png);
}

.legend {
	color: #D1DADD;
	border-top-style: ridge;
	border-bottom-style: double;
	border-color: #3f3730;
	border-width: 3px;
	background-color: #202020;
}

.maintable h1 {
	margin-top: 8px;
	margin-bottom: 4px;
}

.mainbgtitle {
	color: #D1DADD;
	background-color: #202020;
}

.broken {
	color: #FF0000;
	background-color: #202020;
}

.mainbglabelhover {
	background-color: #65534c;
}

.mainbglabel {
	background-color: #55433c;
}

.mainbgbody {
	background-color: #3b302b;
}

.maintextbody {
	color: #D1DADD;
}

.selector {
	font-weight: bold;
	background: #B1BABD;
}

.cqinfotablecol1size {
	width: 230px;
}

.cqrightselectorsize {
	width: 130px;
}

.cqattackselectorsize {
	width: 250px;
}

/* ***********  CONQUEST EVENT VIEW*********** */
.attackevent {
	color: #F1AA6D;
}

.attackevent:hover {
	
}

.classicevent {
	color: AAAAAA;
}

.classicevent:hover {
	
}

.magicevent {
	color: #81BADD;
}

.magicevent:hover {
	
}

.abilityevent {
	color: #F1AA6D;
}

.ability:hover {
	
}

.talentevent {
	color: #11DD88;
}

.talent:hover {
	
}

.deathevent {
	color: #FF88BB;
}

.death:hover {
	
}

.givexpevent {
	color: #E1DA00;
}

.givexpevent:hover {
	
}

.givemoneyevent {
	color: #E1DA00;
}

.givemoneyevent:hover {
	
}

.gatename {
	color: #E19A5D;
}

.cityname {
	color: #F1EA5D;
}

.buildingname {
	color: #F1EA5D;
}

.ressourcename {
	color: #7CFC00;
}

.stylepc {
	color: #FAF3A7;
}

.stylepc:hover {
	color: #FAF3A7;
}

.styleall {
	color: #D1DADD;
}

.styleall:hover {
	color: #D1DADD;
}

.stylecontact {
	color: #CCCCCC;
}

.stylecontact:hover {
	
}

.stylemainpc {
	color: #F1F1F1;
	text-decoration: none;
}

.stylemainpc:hover {
	color: #F1F1F1;
	text-decoration: underline;
}

.stylenpc {
	color: #F6C199;
}

.scrollable {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.equippos {
	float: left;
	height: 390px;
	margin-left: 10px;
}

.equipwidth {
	/* width: 355px; */
	width: 540px;
}

.equipinventpos {
	float: left;
	width: 250px;
	height: 400px;
}
/* ***********  RULES MENU *********** */
.rulesmenu {
	margin: 20px 0px 0px 0px;
	font-weight: bold;
}

.rmenu {
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	list-style-type: none;
}

.rmenu li {
	display: inline;
}

.rmenu a {
	color: #553344;
}

.rmenu a:hover {
	color: #977A42;
}

.subtitle {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #8A4B08;
}

.coloredtable {
	border: 1px solid;
}

.coloredtable th {
	width: 60px;
	border-bottom: 1px solid;
}

.enchanttable {
	border: 1px solid;
}

.enchanttable th {
	width: 120px;
	border-bottom: 1px solid;
}

.enchanttable td {
	text-align: center;
}

.dred {
	background-color: #FF4949;
}

.red {
	background-color: #FF6969;
}

.lred {
	background-color: #FF8D8D;
}

.vlred {
	background-color: #FFADAD;
}

.dgreen {
	background-color: #64D964;
}

.green {
	background-color: #92E492;
}

.lgreen {
	background-color: #B6EDB6;
}

.vlgreen {
	background-color: #DBF6DB;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

.absdiv {
	visibility: hidden;
	position: absolute;
	padding: 10px;
	background-color: #F4E9CD;
	border: 4px ridge #DDCEA7;
	z-index: 2;
}

.template {
	color: #FFFF55;
}

.maudit {
	color: #e32441;
}

.parchment {
	font-weight: bold;
	color: #F1AA6D;
}

.pmarged {
	margin-left: 20px;
}
/* ***********  CMAIL ***********   */
.none {
	text-decoration: none;
	color: #B1BABD;
}

.tabcontact {
	color: #E19A5D;
}

.tabmenu {
	font-weight: bold;
	color: #C1CA2D;
}

.tabmenu:hover {
	
}

.mainerror {
	color: #F1AA6D;
}
/* *********** Histo Msg ***********   */
.histomsg {
	color: #D1DADD;
	background-color: #202020;
	width: 620px;
	border-top-style: ridge;
	border-bottom-style: double;
	border-width: 3px;
	border-color: #3f3730;
}

.histomsglink {
	font-style: italic;
	color: #D1DADD;
}

/* *********** Ajax ***********   */
.ajaxarea {
	visibility: hidden;
	border: 1px solid #D1DADD;
}
/* *********** Registration ***********   */
.registration_title {
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 25px;
}

.registration {
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;
	text-align: left;
}

.registration td {
	padding: 1px;
}

.register-warning{
	font-size: 1.2em;
	color: #F1AA6D;
	margin-top: 40px;
	margin-left: 20%;
	margin-right: 20%;
}

/* -------- Error input style -------- */
input.error {
	border-color: #AA4444 #FF9999 #FF9999 #AA4444;
	background-color: #FFFCE2;
	background-image: url(../pics/misc/warning_obj.gif);
	background-position: right;
	background-repeat: no-repeat;
}

select.error {
	border-color: #AA4444 #FF9999 #FF9999 #AA4444;
	background-color: #FFFCE2;
	background-image: url(../pics/misc/warning_obj.gif);
	background-position: right;
	background-repeat: no-repeat;
}

.err {
	color: #EE0000;
	font-weight: bold;
}

.link {
	color: #FAF3A7;
}

.link:hover {
	color: #FAF3A7;
}

/* *********** New Character ***********   */
.nctable {
	color: #FFFFFF;
	margin
	10px;
}

.ncimg {
	float: left;
	margin: 20px;
	width: 30%;
}

.nc-dices {
	float: left;
	width: 50%;
	margin-top: 100px;
	
}

.nc-img-dices{
	width: 100%;
}

.nc-bottom-form{
	float: left;
	width: 100%;
}

.ncdesc table {
	border: 0;
	float: left;
	width: 600px;
	margin-left: 10px;
	color: #FFFFFF;
}

.ncdesc td {
	height: 30px;
}

.ncdescav {
	color: #00FF22;
}

.ncdescdis {
	color: #FF2222;
}

.map_gridx {
	
}

.map_gridy {
	float: left;
}

.clr {
	clear: both;
}

.map_grid_cellx {
	display: block;
	float: left;
	color: #D1DADD;
	background-color: #202020;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	width: 32px;
	height: 32px;
	margin-right: 1px;
}

.map_grid_celly {
	display: block;
	color: #D1DADD;
	background-color: #202020;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	width: 32px;
	height: 31px;
	margin-top: 1px;
}

.map_num {
	padding-top: 8px;
}

.inner_cell {
	display: block;
	width: 31px;
	height: 30px;
}

/*****************************************
 * INSIDE BUILDING PANELS
 *****************************************/
.insidebuildingrightwidth {
	width: 300px;
}

.insidebuildingleftwidth {
	width: 460px;
}

.insidebuildingleft {
	float: left;
	height: 250px;
	width: 480px;
	background-color: #000000;
	overflow: auto;
}

.insidebuildingright {
	float: left;
	height: 250px;
	width: 300px;
	border-left-style: ridge;
	border-color: #F1AA6D;
	background-color: #000000;
	overflow: auto;
}

/*****************************************
 * M I N I   M A P
 *****************************************/
.minimap {
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	border: 0;
	background: #000000;
}

.minimap td {
	border-left: solid #468832 1px;
	border-top: solid #468832 1px;
	width: 32px;
	height: 32px;
	padding: 0px;
}

.minimappaneltitle {
	color: #cccccc;
	background-color: #663333;
	border-top: solid #000000 1px;
	border-bottom: solid #000000 1px;
	font-size: 12px;
	font-weight: bold;
}

.minimappanel {
	display: none;
	float: left;
	height: 400px;
	width: 660px;
	background-color: #000000;
	overflow: auto;
}

.minimappanelleft {
	float: left;
	width: 340px;
}

.minimappanelright {
	float: left;
	width: 300px;
}

.minimappanelleftwidth {
	width: 340px;
}

.minimappanelrightwidth {
	width: 300px;
}

.myalliegence {
	color: #7aa6ff;
}

.guild_ennemy {
	color: #cf7070;
}

.guild_ally {
	color: #8fd28f;
}

.self_ennemy {
	color: #cf7070;
}

.self_ally {
	color: #8fd28f;
}

.minibgopt {
	background: black;
	font-size: 11px;
}

.closebutton {
	color: yellow;
	background-color: #202020;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	border-color: yellow;
	border-width: 2px;
	border-style: solid;
}

.minimapmenu {
	z-index: 10;
}

.minimapmenu dl {
	float: left;
	width: 10px;
	position: absolute;
	margin: 0px 0px;
}

.minimapmenu dt:hover {
	background: #F5EFE1;
}

.minimapmenu dt {
	margin: 0px;
	padding: 1px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	background: #CBBFB1;
	border: 1px ridge #CBBFB1;
	color: #000000;
}

.minimapmenu dd, .minimapmenu ul, .minimapmenu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.minimapmenu dd {
	position: absolute;
	background: #CBBFB1;
	left: 10px;
	width: 100%;
}

.minimapmenu li {
	text-align: center;
}

.minimapmenu li a, .minimapmenu dt a {
	text-decoration: none;
	color: #000;
	display: block;
	height: 100%;
	border: 1px solid gray;
}

.minimapmenu li a:hover, .minimapmenu dt a:hover {
	background: #F5EFE1;
}

/** border type for minimap **/
.sb_act {
	border-color: red;
	border-width: 1px;
	border-style: solid;
	z-index: 10;
}

.sb_move {
	border-color: yellow;
	border-width: 1px;
	border-style: solid;
	z-index: 10;
}

.sb_travel {
	border-color: yellow;
	border-width: 1px;
	border-style: dashed;
	z-index: 10;
}

/** border position for minimap **/
.sb_tl {
	border-right-style: none;
	border-bottom-style: none;
}

.sb_t {
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
}

.sb_tr {
	border-left-style: none;
	border-bottom-style: none;
}

.sb_l {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
}

.sb_r {
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
}

.sb_bl {
	border-top-style: none;
	border-right-style: none;
}

.sb_b {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}

.sb_br {
	border-top-style: none;
	border-left-style: none;
}

.sb_all {
	
}

.sb_none {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
}
/* Minimap terrain, todo something better */
.minimapcity {
	width: 31px;
	height: 30px;
	background-image: url(../pics/map/city.gif);
}

.minimapvillage {
	width: 31px;
	height: 30px;
	background-image: url(../pics/map/village.gif);
}

.minimapwall {
	width: 31px;
	height: 30px;
	background-image: url(../pics/map/wall.png);
}

.minimapgate {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 80px;
	height: 100px;
	background-image: url(../pics/map/items/gate2.png);
}

.minimapgateinactive {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 80px;
	height: 100px;
	background-image: url(../pics/map/items/gate-inactive.png);
}

.minimapdeposit {
	width: 31px;
	height: 30px;
	background-image: url(../pics/map/deposit.png);
}

.minimapbush {
	width: 31px;
	height: 30px;
	background-image: url(../pics/map/bush.png);
}

.minimappj {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/players/archer.png);
}

.minimappnj {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
}

/*---------------   ROSE DES VENTS    ------------------------*/
.minimapwindroses {
	position: absolute;
	bottom: 0px;
	top: 177px;
	left: 343px;
	width: 214px;
	height: 113px;
}

.minimapitem {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/items/leather-pack.png);
}

.minimapbuilding {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 80px;
	height: 100px;
}

/* -------------- Les ressources ---------- */
.minimapemeraude {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/exploitations/deposit1.png);
}

.minimaprubis {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/exploitations/deposit2.png);
}

.minimapgarnach {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/exploitations/bush1.png);
}

.minimapfolliane {
	position: absolute;
	bottom: 10px left: 0px;
	width: 48px;
	height: 42px;
	background-image: url(../pics/map/exploitations/bush2.png);
}

.minimaprazhot {
	position: absolute;
	bottom: 10px;
	left: 20px;
	width: 48px;
	height: 42px;
	background-image: url(../pics/map/exploitations/bush3.png);
}

.minimapleather {
	position: absolute;
	bottom: -36px;
	left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/exploitations/body-leather.png);
}

.minimapscale {
	position: absolute;
	bottom: -36px left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/exploitations/body-scale.png);
}

.minimapflaxfield {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 72px;
	height: 72px;
	background-image: url(../pics/map/exploitations/flaxfield.png);
}

.minimapdirections {
	position: absolute;
	top: 180px;
	left: 370px;
	width: 213px;
	height: 113px;
	background-image: url(../pics/misc/directions.png);
}

/* -------------- Les terrains ---------- */
.plain {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/plain.png);
}

.flowers {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/flowers.png);
}

.flowersl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/flowers_l.png);
}

.plainl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/plain_l.png);
}

.mountain {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/mountain.png);
}

.mountainl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/mountain_l.png);
}

.forest {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/forest.png);
}

.forestl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/forest_l.png);
}

.ocean {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/ocean.png);
}

.oceanl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/ocean_l.png);
}

.river {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/river.png);
}

.riverl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/river_l.png);
}

.arctic {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/arctic.png);
}

.arcticl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/arctic_l.png);
}

.desert {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/desert.png);
}

.desertl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/desert_l.png);
}

.cobblestone {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/cobblestone.png);
}

.cobblestonel {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/cobblestone_l.png);
}

.beatenearth {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/beaten-earth.png);
}

.beatenearthl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/beaten-earth_l.png);
}

.marsh {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/marsh.png);
}

.marshl {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/marsh_l.png);
}

.isoborder {
	position: absolute;
	width: 84px;
	height: 43px;
	z-index: 10;
	background-image: url(../pics/map/land/iso-bordure.png);
}

.noborder {
	position: absolute;
	width: 84px;
	height: 43px;
	z-index: 10;
	background-image: url(../pics/map/land/void-tile.png);
}

.terrainvide {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/hidden-land.png);
}

.terrainvidel {
	width: 84px;
	height: 43px;
	background-image: url(../pics/map/land/ref-tile2.png);
}