/* --------------------------------- */
/* ***********  LOGIN ************* */
/* --------------------------------- */
.mainarea {
	position: absolute;
	top: 80px;
	width: 950px;
	height: 580px;
	background: url(../pics/conquest/panelcqfr.jpg) no-repeat;
}

/* ***********  MAIN MENU *********** */
.mmenu {
	background: transparent url(../pics/conquest/mmenucqfr.gif) top left
		no-repeat;
}

.mmenu a:hover {
	background: transparent url(../pics/conquest/mmenucqfr.gif) top left
		no-repeat;
}

/* ***********  CONQUEST MENU BOTTOM *********** */
.menubt a:hover {
	background: transparent url(../pics/conquest/menubtcqfr.gif) top left
		no-repeat;
}

#vu1d:hover {
	background: transparent url(../pics/conquest/menubtcqfr_vu1d.gif) top
		left no-repeat;
}

#vu2d:hover {
	background: transparent url(../pics/conquest/menubtcqfr_vu2d.gif) top
		left no-repeat;
}