/* --------------------------------- */
/* ***********  LOGIN ************* */
/* --------------------------------- */
.index_title {
	width: 765px;
	height: 220px;
	background: url(../pics/register/index_title.jpg) no-repeat;
}

.mainarea {
	position: absolute;
	top: 5px;
	width: 1276px;
	height: 670px;
	background: url(../pics/conquest/maquette-aino-wallen1.png) no-repeat;
}

/* ***********  INDEX MENU TOP *********** */
.index_menu_top a:hover {
	background: transparent url(../pics/register/index_menu_on.jpg) top left
		no-repeat;
}

/* ***********  MAIN MENU *********** */
.mmenu {
	background: url(../pics/conquest/mmenucqfr.gif) top left no-repeat;
}

.mmenu a:hover {
	background: transparent url(../pics/conquest/mmenucqfr.gif) top left
		no-repeat;
}